<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lbz.gmall.manage.mapper.PmsSkuInfoMapper">

	<resultMap id="skusAndSaleAttrValue" type="com.lbz.gmall.bean.PmsSkuInfo" autoMapping="true">
		<id column="id" property="id"></id>
		<collection property="skuSaleAttrValueList" ofType="com.lbz.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
		</collection>
	</resultMap>

	<select id="selectSkusFromSkuInfoByProductId" resultMap="skusAndSaleAttrValue">

SELECT
	psi.id,
	pssav.sale_attr_value_id
FROM
	pms_sku_info psi,
	pms_sku_sale_attr_value pssav
WHERE
	psi.product_id = #{productId}
	AND psi.id = pssav.sku_id

	</select>

</mapper>